<div class="Search container">
    
    <div class="logo">
        <div class="logo-container"></div>
    </div>
    
    <div class="search-description-container">
        <div class="search-description">
            Welcome to Game Dev Recipes! On this site you'll find a collection of game development tutorials 
            to help develop a game. Use the search bar below to look for videos that teach a specific topic in your desired game engine.</div>
        </div>
    <div class="searchbar-container">
        <div class="input-group mb-3" id="searchbar">
            <input type="text" class="form-control" placeholder="Search for videos using tags (e.g. Ai, Pathfinding, Rpg)" aria-label="Recipient's username" aria-describedby="button-addon2"
            name="searchTag" [(ngModel)]="searchTag">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="getFilteredVideos(searchTag)">Search</button>
        </div>
    </div>
</div>



<div container="video-card-container">
    <div class="card-container">
        <div class="results">
            <app-video-card (tagClick)="handleTagClick($event)"
            *ngFor="let _videoCard of filteredVideoList"
            [videoCard]="_videoCard">
            </app-video-card>
        </div>
    </div>
</div>

<!-- <button (click)="openVideoModal()">Open Video Overlay</button> -->
<!-- <app-video-modal></app-video-modal> -->
